TOKEN=0000000000:TEST_USER_BOT_TOKEN_FOR_LOCAL_TESTS_ONLY
API_URL=http://freeman-backend:8000
CHANNEL_ID=@test_channel
RMQ_URL=amqp://guest:guest@rabbitmq:5672/
RMQ_DIAGNOSTIC_RESPONSE_QUEUE=diagnostic_response
RMQ_ANALYSIS_SCHEDULE_CONFIRMATION_QUEUE=analysis_schedule_confirmation
RMQ_CONSULTATION_REQUEST_QUEUE=consultation_request
RMQ_REGRESSION_REQUEST_QUEUE=regression_request
RMQ_MENTORSHIP_REQUEST_QUEUE=mentorship_request
TELEGRAM_BOT_API_URL=https://api.telegram.org
CORE_MIN_APP=https://example.com
